*{
       cursor: url("cursor/kawaiicutepusheen/PusheenLocationSelect-ezgif.com-ani-to-apng-converter.png"), auto;

}

body{
    background-color: rgb(164, 134, 197);
    
}

h1{
    text-align: center;
    color: rgb(253, 225, 255);
}

main{
    display: flex;
    flex-direction: column;
}

#imgDiv img {
    border: 4px rgb(245, 131, 255) solid;
    width: 30rem;
    height: 30rem;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}


#btnContainer{
    height: 200px;
    position: relative;
}

#generateBtn{
    border: rgb(245, 131, 255) solid 1px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(253, 225, 255);

}

#generateBtn:hover{
    transition: 0.5;
    cursor: pointer;
}

#generateBtn:active{
    background-color: rgb(120, 255, 161);
}

#btnVerticalContainer{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#generateBtn{
    padding: 10px;
    display: block;
    margin: auto;
}

#cats{
    width: 10%;
    height: 2rem;
}

#img:hover{
    /* cursor: grab; */
    
    -webkit-user-drag: none;
    /* animation: pat 2s linear infinite ; */
}

/* #img:active{
    animation: pat 2s linear infinite ;
} */


/* @keyframes pat {
    0% {height: 30rem;}
    50% {height: 32rem;}
    100%{height: 30rem;}
} */

@media only screen and (max-width: 2000px) {
    #generateBtn{
        padding: 20px;
    }
}